.link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #868e96;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
